[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
autopep8 = "*"
pipenv-setup = "*"
pytest-cov = "*"
coverage = "*"

[packages]
beautifulsoup4 = "*"
requests = "*"
arrow = "*"
rows = {file = "https://github.com/turicas/rows/archive/develop.zip"}
deprecated = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
